body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    padding: 15px;
    gap: 15px;
    height: 98vh;
    box-sizing: border-box;
}

.header, .sidebar, nav, .footer, .article {
    font-size: 27px;
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
    padding: .6em 0 1em;
    font-weight: bold;
    border-radius: .3em;
}

.header {
    background-color: #006157;
    grid-column: 1 / 3;
}

.sidebar {
    background-color: #005B94;
    grid-row: 2 / 4;
}

.nav {
    background-color: #642CDE;
}

.article {
    background-color: #7E1DC3;
}

.article p {
    font-size: 18px;
    padding: 0 2.1em;
    text-align: left;
}

.footer {
    background-color: #393F4D;
    grid-column: 1 / 3;
}